.sign-up-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
  border-radius: 10px;
  color: darkblue;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

  display: flex;
  flex-direction: row;
  padding: 24px;
}

.sign-up-form {
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  color: blueviolet;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.sign-up-form input {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  color: darkblue;
  margin-bottom: 16px;
  padding: 12px;
}

.sign-up-form button {
  background-color: #1e90ff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 4px;
}

.sign-up-form table {
  backdrop-filter: blur(10px);
  background-color: "transparent";
  box-shadow: 0 8px 32px 0 var(--table-box-shadow-color);
  border-radius: 10px;
  padding: 20px;
}
